{{#if hasFlow}}
// @flow
{{/if}}
{{> componentImportPartial }}

{{#if hasFlow}}
type Props = {
  
}

const {{ properCase name }} = (props: Props) => {

{{else}}
const {{ properCase name }} = () => {

{{/if}}
  return (
    <div></div>
  )
}

{{ properCase name }}.displayName = '{{ properCase name }}'

{{ properCase name }}.defaultProps = {

}

{{#unless hasFlow}}
{{ properCase name }}.propTypes = {

}
{{/unless}}

{{#if isConnected}}
const mapDispatchToProps = dispatch => bindActionCreators({
  actionName,
}, dispatch)

const mapStateToProps = state => ({

})
{{/if}}

{{#if isStyled}}
const styles = {
}
{{/if}}

{{> componentExportPartial }}
